.labels{
    color: darkblue;
    font-weight: bold;

}
.input-row{
    background-color: rgb(166, 233, 181);
}
.labels-center{
    color: red;
    font-weight: bold;
    text-align: center;

}

.input-div{
    background: rgb(181, 211, 171);
    padding-bottom: 20px;
}