.labels{
    color: darkblue;
    font-weight: bold;

}
.input-row{
}
.labels-center{
    color: white;
    font-weight: bold;
    text-align: center;

}

.input-div{
    background: lightseagreen;
    padding-bottom: 10px;
}